  
/* header navigation bar*/
header{
    background-color: rgb(61, 56, 56);
    width: 100%;
    height: 100px;
}
nav img{
    
    float:left;
    width:15%;
    padding: 10px;
    padding-left: 30px;
}

nav ul li{
    
    display: inline-block;
    margin: 40px;
    padding-left: 90px;
    font-size: larger;
    color: white;
}
/* Section one */
main {
  margin: 30px;
 
}
section:first-of-type img{
    width:100%;
    text-align: center;
}
/* Section two */
section:nth-of-type(2){
    width: 100%;
    margin-top:30px;
    margin-bottom:30px; 
}
section:nth-of-type(2) img:first-of-type{
    width: 31.7%;
    margin-right:30px;   
}
section:nth-of-type(2) img:nth-of-type(2){
    width: 31.7%;
    margin-right:30px;
}
section:nth-of-type(2) img:nth-of-type(3){
    width: 31.7%;     
}

/* Section three*/
section:nth-of-type(3){
    width: 100%;
    margin-top:30px;
    margin-bottom:30px; 
    display:inline;
}
section:nth-of-type(3) div:first-of-type img{
    width: 50%;
    margin-right: 30px;
    float:left;
    margin-bottom:30px; 

}
section:nth-of-type(3) div:nth-of-type(2) p h2 {
    width:50%;
}
section:nth-of-type(3) div:nth-of-type(2)  h2 {
    font-size:x-large;
    font-weight: bolder;
    padding:5px;
}
section:nth-of-type(3) div:nth-of-type(2)  p {
    padding: 5px;
    padding-block: 5px;
    line-height: 1.6;
    font-size: larger;
    overflow: scroll;
    width: 47%;
    height: auto;
}
section:nth-of-type(3) div:nth-of-type(3) button {
    padding: 14px 40px;
    font-size: x-large;
    text-align: center;
    background-color:black; 
    color: white;
    margin-left:30px;
}
section:nth-of-type(3) div:nth-of-type(3) button:hover{
   background-color:silver;
   font-size: 300% ;
   transition-delay: 350ms;
}

/*footer*/
footer img{
    width:100%;
}